a {
    color: inherit;
}

a:link, a:visited {
    text-decoration: none;
}

.CodeMirror {
    border: 1px solid black;
}

#mudslinger {
    width:95vw;
    height:92vh;
}

#mainWin {
    height:100%;
    width:100%;
}

#winOutput {
    height:calc(100% - 21px);
    margin:0;
    padding:0;
}

.outputText {
    font-size: 10;
    background-color:black;
    font-family:"Courier", monospace;
    color:rgb(0,187,0); /* low green */
    white-space: pre-wrap;
    overflow-y:scroll;
    overflow-x:scroll;
    width:100%;
}

#cmdInput, #cmdInputPw {
    width: 100%;
    margin: 0;
    padding: 0;
}

#cmdInput {
    resize: none;
    font-family:"Courier", monospace;
    font-size: 10;
}

#cmdInputPw {
    height: 20px;
}

.winEdit-pattern {
    width: 100%;
}

.winEdit-listBox {
    width: 100%;
    height: 100%;
}