#client {
    width:90vw;
    height:88vh;
}

#win_output, #win_chat {
    font-family:Courier;
    font-size: 11;
    color:white;
    background-color:black;
    word-wrap:break-word;
    overflow-y:scroll;
    width:100%;
    height:95%;
}

#win_stat {
    font-family:Courier;
    color:white;
    background-color:black;
    width:100%;
    height:100%;
}

#win_stat h2 {
    text-align:center;
    color:white;
    font-family:Courier;
}

#win_aff {
    font-family:Courier;
    color:yellow;
    background-color:black;
    width:100%;
    height:100%;
    overflow-x:scroll;
    white-space: nowrap;
}

#win_aff h2 {
    text-align:center;
    color:white;
    font-family:Courier;
}

#output_aff_split {
}

#output_gauge_split {
    width:100%;
    height:100%;
}

#main_vert_split {
}

#win_map {
    background-color:grey;
}

#win_gauge {
    background-color:black;
}

#hmv_cont {
    width: 50%;
    float: left;
}

#alt_gauge_cont {
    width: 50%;
    float: right;
}

.gauge_bar {
    background-color:grey;
}

.gauge_bar .jqx-progressbar-text, .gauge_text {
    color: yellow;
    text-shadow: 0px 0px 2px black;
    font-size: 24px;
    font-family:Courier;
}

#enemy_bar .jqx-progressbar-text {
    font-size: 75%;
}

#room_name {
    min-height: 25px;
    border-style: solid;
    border-color: black;
    background-color: green;
    font-weight: bold;
}

#cmd_input {
    width: 100%;
}

#trigger_win {
    display: none;
    width: 150px;
    height: 150px;
    padding: 0.5em;
    background-color:black;
    color:red;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}