<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Aarchon Web Client V0.7.2</title>

  <link rel="stylesheet" href="{{url_for('static', filename='jqwidgets/styles/jqx.base.css')}}">

  <script src="//code.jquery.com/jquery-2.1.3.js"></script>
  <script src="{{url_for('static', filename='jqwidgets/jqxcore.js')}}"></script>
  <script src="{{url_for('static', filename='jqwidgets/jqxcheckbox.js')}}"></script>
  <script src="{{url_for('static', filename='jqwidgets/jqxmenu.js')}}"></script>
  <script src="{{url_for('static', filename='jqwidgets/jqxwindow.js')}}"></script>
  <script src="{{url_for('static', filename='jqwidgets/jqxsplitter.js')}}"></script>
  <script src="{{url_for('static', filename='jqwidgets/jqxprogressbar.js')}}"></script>
  <script src="{{url_for('static', filename='jqwidgets/jqxribbon.js')}}"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/client.css')}}">

  <script src="{{url_for('static', filename='modules/Polyfill.js')}}"></script>
  <script src="{{url_for('static', filename='modules/Message.js')}}"></script>
  <script src="{{url_for('static', filename='modules/Util.js')}}"></script>
  <script src="{{url_for('static', filename='modules/TrigAlEditBase.js')}}"></script>
  <script src="{{url_for('static', filename='modules/AliasEditor.js')}}"></script>
  <script src="{{url_for('static', filename='modules/TriggerEditor.js')}}"></script>
  <script src="{{url_for('static', filename='modules/AliasManager.js')}}"></script>
  <script src="{{url_for('static', filename='modules/TriggerManager.js')}}"></script>
  <script src="{{url_for('static', filename='modules/OutputManager.js')}}"></script>
  <script src="{{url_for('static', filename='modules/OutWinBase.js')}}"></script>
  <script src="{{url_for('static', filename='modules/OutputWin.js')}}"></script>
  <script src="{{url_for('static', filename='modules/ChatWin.js')}}"></script>
  <script src="{{url_for('static', filename='modules/MapWin.js')}}"></script>
  <script src="{{url_for('static', filename='modules/GaugeWin.js')}}"></script>
  <script src="{{url_for('static', filename='modules/AffWin.js')}}"></script>
  <script src="{{url_for('static', filename='modules/StatWin.js')}}"></script>
  <script src="{{url_for('static', filename='modules/CommandInput.js')}}"></script>
  <script src="{{url_for('static', filename='modules/MenuBar.js')}}"></script>
  <script src="{{url_for('static', filename='modules/MXP.js')}}"></script>
  <script src="{{url_for('static', filename='modules/Socket.js')}}"></script>
  <script src="{{url_for('static', filename='modules/Client.js')}}"></script>
</head>
<body>
<div id="client">
<div id="menu_bar">
  <ul>
    <li>Connection
      <ul>
        <li>Connect</li>
        <li>Disconnect</li>
      </ul>
    </li>
    <li>Reload Layout</li>
    <li>Aliases</li>
    <li>Triggers</li>
    <li>Config
      <ul>
        <li>Text Color
          <ul>
            <li>White</li>
            <li>Green</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div id="main_vert_split">
    <div>
        <div id="output_aff_split">
            <div id="win_aff"></div>

            <div>
            <div id="output_gauge_split" >
                <div style="width:100%;height:100%;margin:0;padding:0">
                  <pre id="win_output" class="output_text"></pre>
                  <!--<br>-->
                  <input type="text" id="cmd_input">
                </div>

                <div id="win_gauge" >
                    <div id="hmv_cont">
                        <div id='hp_bar' class='gauge_bar'></div>
                        <div id='mana_bar' class='gauge_bar'></div>
                        <div id='move_bar' class='gauge_bar'></div>
                    </div>
                    <div id="alt_gauge_cont">
                        <div id='enemy_bar' class='gauge_bar'></div>
                        <div id='tnl_bar' class='gauge_bar'></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div>
        <div id="map_chat_split" >
            <div>
                <div id="win_map" >
                    <center><div id=room_name></div>
                    <div id="svg_cont" style="width:125px;height:100px"></div>
                    </center>
                </div>
                <div id="win_stat" ></div>
            </div>

            <div>
                <center><span>CHAT</span></center>
            <div id="win_chat" class="output_text"></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<!--TriggerEditor-->
<div id="win_trig_edit" style="display:none">
  <!--header-->
  <div>TRIGGERS</div>
  <!--content-->
  <div>
    <div id="trig_main_split">
      <!--left pane-->
      <div>
        <div style="height:5%">
          <button id="trig_new_button">NEW</button>
          <button id="trig_delete_button">DELETE</button>
        </div>
        <select id="trig_list_box" size="100%" style="height:95%"></select>
      </div>
      <!--right pane-->
      <div>
        Pattern:<br>
        <input type="text" id="trig_pattern" style="height:5%" disabled><br>
        Regex<br>
        <input type="checkbox" id="trig_regex_checkbox" style="height:5%" disabled>


        <div>
          <button id="trig_save_button" style="height:5%" disabled>SAVE</button>
          <button id="trig_cancel_button" style="height:5%" disabled>CANCEL</button>
        </div>
        Value:<br>
        <textarea id="trig_text_area" style="height:85%;width:100%" disabled></textarea>
      </div>
    </div>
  </div>
</div>
<!--AliasEditor-->
<div id="win_alias_edit" style="display:none">
  <!--header-->
  <div>ALIASES</div>
  <!--content-->
  <div>
    <div id="alias_main_split">
      <!--left pane-->
      <div>
        <div style="height:5%">
          <button id="alias_new_button">NEW</button>
          <button id="alias_delete_button">DELETE</button>
        </div>
        <select id="alias_list_box" size="100%" style="height:95%"></select>
      </div>
      <!--right pane-->
      <div>
        Pattern:<br>
        <input type="text" id="alias_pattern" style="height:5%" disabled><br>
        Regex<br>
        <input type="checkbox" id="alias_regex_checkbox" style="height:5%" disabled>

        <div>
          <button id="alias_save_button" style="height:5%" disabled>SAVE</button>
          <button id="alias_cancel_button" style="height:5%" disabled>CANCEL</button>
        </div>

        Value:<br>
        <textarea id="alias_text_area" style="height:85%;width:100%" disabled></textarea>
      </div>
    </div>
  </div>
</div>
</html>
